html,
body {
  font-family: Arial, sans-serif;
  height: 100%;

  background-color: white;
}

.container {
    height: 100%;
    position: relative;
}

.input_text {
  font-size: 12px;
}

input[type=text],
select.form-control {
    /* background: transparent; */
    border: none;
    border-bottom: 1px solid #000000;
    padding: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    box-sizing : border-box;
}



input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.h1b{
font-size: 22px;
font-family: -webkit-pictograph;
color: #400070;
text-align: center;
padding: 20px;
}

#map {
  top:80px;
  height: 85%;
  /* left: 260px; */
  /* left : 260px; */
  /* float: left; */
  position: absolute;
  right: 0px;
}



@media only screen and (min-width: 0) and (max-width: 500px)  {
  .ko_font {
    font-size: 10px;
    max-width: 70px;
    white-space:normal !important;
  }
  .h1b{
  font-size: 15px;
  font-family: -webkit-pictograph;
  color: #400070;
  }

  #map {
    top:80px;
    height: 85%;
     left: 100px;
     margin-right: 5px;
    /* left : 260px; */
    /* float: left; */
    position: absolute;
    right: 10px;
  }

}



@media only screen and (min-width: 500) and (max-width: 750px)  {
  .ko_font {
    font-size: 16px;
  }
}
@media only screen and (min-width: 750) {
    .ko_font {
    font-size: 16px;
    }
}
